<% user_recommend_count_each_skills.each_with_index do |(skill_key,skill_val),skill_index| %>
    <p>
        <%# スキルの推奨を１度もされていないスキルはレコードが空のため %>
        <% skill_count = skill_recommend_count[skill_key].blank? ? 0 : skill_recommend_count[skill_key].length %>
        <div id="<%= 'skill_' << skill_key.to_s %>" class="user_skill_area_button">
            <%# スキルの推薦数が表示されているボタン。 %>
            <%= button_to skill_count, ajax_update_skills_path(skill_id: skill_key, owner_user: user.id), remote: true %>
        </div>
        <%# スキル名。スキル名を押下した時、押下したスキルの所有者一覧を表示 %>
        <%= link_to skill_val.first.name, user_path(:id => skill_key) %>

        <% unless @other_user_add_skills.blank? %>
            <%# 自分以外の人が自分に追加したスキルは表示・非表示の設定が行えるボタンを表示 %>
            <span id="<%= 'display_' << skill_key.to_s %>">
                <%# flgが表示（１以外の時）のときは非表示のテキストを代入、それ以外は表示のテキストを代入 %>
                <% display_title = @other_user_add_skills[skill_key].first.display_flg == 1 ? "非表示" : "表示" %>
                <%# 自分以外の人が追加したスキル and ログインユーザーとスキルを追加するユーザーが同じ場合のときに表示（true）を代入 %>
                <% display_or_not = @other_user_add_skills.keys.include?(skill_key) && user.id.to_i == current_user.id %>
                <%# ログインユーザーとスキルを追加する対象のユーザーが等しいときに表示・非表示の設定が行える。非同期で表示flgの更新を行う %>
                <%= button_to display_title, ajax_display_skills_path(skill_id: skill_key, user_id: user.id), remote: true if display_or_not %>
            </span>
        <% end %>
        <%# 上位６件のスキルに対して、スキルを推薦してくれているユーザーを１０件まで表示 %>
        <% if 6 > skill_index && !(@recommend_skill_users.blank? || @recommend_skill_users[skill_key].blank?) %>
            <% @recommend_skill_users[skill_key].each_with_index do |skill, user_index| %>
                <%# スキルを推薦してくれているユーザー %>
                ＠<%= link_to skill.user.name, skill_path(:id => skill.user_id) if user_index < 9 %>
            <% end %>
        <% end %>
    </p>
<% end %>